body, td, pre {color:#000; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:14px; margin:8px;}
p.bodyofuunewsletter {
  
}
p.UUFPQuote{
  font-style: italic;
	margin-left: 25px;
}
p.UUFPDisclaimer{
  font-size:12px; 
}
p.UUFPIndent {
  margin-left: 40px; 
}
p.UUFPList {
  margin-top: auto;
  margin-bottom: auto;
}    
h1 {
  font-weight: 100;
  font-size: 30px;
}
h2 {
  font-weight: bold;
  font-size: 30px;
  text-decoration:underline;
}
h3 {
  font-weight: bold;
  font-size: 24px;
}
h4 {
  font-size: 18px;
  tfont-style: italic;
  font-weight: bold;
}
h5 {
  font-size: 18px;
  font-style: italic;
}













